.vs/
.vscode/
/x64/Debug/
/x64/Release/
/WanderUnityChan/x64/
/UnityChanFbx/x64/
# /x64/Debug/*.exe
# /x64/Debug/*.pdb
/dependencies/fbxsdk/lib/
/WanderUnityChan/resources/johnwarrior.blend
/WanderUnityChan/resources/johnwarrior.blend1